{% extends "layout.html" %}
{% block title %}Trello To-Do Item App{% endblock %}

{% block content %}
<style>
  table, th, td {
    border: 1px solid black;
  }
  </style>
  <div class="container">
    <h1 class="my-4">To-Do App</h1>
  </div>
  <form action="/addCard" method="post">
    <label for="title_name">Enter the Card Name: </label>
    <input type="text" name="card_name" >
    <input type="submit" value="Add Card">
  </form>
  <div class="container">
    <h2 class="my-5">To Do Items</h2>
  </div>

    <table>
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Task ID</th>        
        <th>Action</th>
      </tr>
    </thead>
    
    <tbody>
        {% for todoItem in view_model.todo_items %}
          <tr> 
            <td>{{todoItem.name}}</td>
            <td>{{todoItem.id}}</td>             
            <td>
             <form action="/InProgress" method="POST">
              <button type = "submit" name = "in_progress" value = {{todoItem.id}}> Move to In Progress</button> 
            </form>
            </td>
          </tr>
        {% endfor %}
    </tbody>
  </table>

    <h2>In Progress Items</h2>
    <table>
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Task ID</th>        
        <th>Action</th>
      </tr>
    </thead>
    
    <tbody>
        {% for todoItem in view_model.doing_items %}
          <tr> 
            <td>{{todoItem.name}}</td>
            <td>{{todoItem.id}}</td>               
            <td>            
            <form action="/done" method="POST">
              <button type = "submit" name = "complete_status" value = {{todoItem.id}}> Move to Complete</button> 
            </form>
            </td>
          </tr>
        {% endfor %}
    </tbody>
  </table>

  <div class="container">
    <h2 class="my-4">Completed Items</h2>
  </div>

    <table>
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Task ID</th>                
      </tr>
    </thead>
    
    <tbody>
        {% for todoItem in view_model.done_items %}
          <tr> 
            <td>{{todoItem.name}}</td>
            <td>{{todoItem.id}}</td>              
          </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}
