FLASK_APP={{ FLASK_APP }} 
FLASK_ENV={{ FLASK_ENV }}
API_KEY={{ API_KEY }}
SERVER_TOKEN={{ SERVER_TOKEN }}
BOARD_ID={{ BOARD_ID }}
TODO_LIST_ID={{ TODO_LIST_ID }}
DOING_LIST_ID={{ DOING_LIST_ID }}
DONE_LIST_ID={{ DONE_LIST_ID }}